@font-face {
    font-family: 'Abhaya Libre';
    src: url(../mídia/fonte/AbhayaLibre-Regular.ttf);
}

@font-face {
    font-family: 'Plus Jakarta Sans Regular';
    src: url(../mídia/fonte/PlusJakartaSans[wght].woff);
    }

:root {
    --cor00: #fff;
    --cor01: black;
    --cor02: rgb(70, 19, 80);
    --cor03: rgb(125, 26, 144);
    --cor04: rgb(80, 80, 80);

    --font01: 'Abhaya Libre';
    --font02: 'Plus Jakarta Sans Regular';
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*Cabeçario*/

header {
    text-transform: uppercase;
    background-color: var(--cor00);
}

header p {
    margin: 10px 20px;
    font: var(--font02);
}

nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 2vw;
    height: 10vh;
    user-select: none;
}

nav h1 {
    display: flex;
    font-size: 2.3em;
    justify-content: center;
    align-items: center;
    color: var(--cor02);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav ul li {
    list-style: none;
    font-size: 1.5em;
}

nav ul li a {
    color: black;
    font-family: var(--font02);
}

a:hover {
    text-decoration: underline var(--cor02);
    transition: 0.3s;
}

/* menu hamburger*/

#hamburger {
    display: none;
    padding-block: 10px;
    cursor: pointer;
    pointer-events: none;
}

#hamburger div {
    background-color: var(--cor02);
    width: 32px;
    height: 4px;
    margin: 9px;
    justify-content: space-between;
    border-radius: 10px;
}

div#container {
    display: flex;
}

main {
    width: 90%;
    padding: 20px;
    word-wrap: break-word;
    border-right: 2px solid grey;
}

body h1, body a {
    color: var(--cor02);
    text-transform: uppercase;
    font-family: var(--font01);
}

div#subtitulo {
    color: var(--cor04);
    font-family: var(--font02);
}

main img {
    width: 55%;
    float: left;
    margin-inline-end: 20px;
    margin-block-end: 20px;
}

main p {
    font-size: 1.4em;
    text-indent: 30px;
    margin-bottom: 5px;
    word-wrap: break-word;
    text-align: justify;
    font-family: var(--font02);
}

aside {
    width: 20%;
    padding: 20px;
    align-items: center;
}

aside img {
    width: 100%;
}

aside h1 {
    margin-bottom: 20px;
}

aside div#noticias {
    width: 30%;
}

main#sobre {
    border-right: 0px solid white;
    margin: auto;
}

main#sobre h1, main#sobre p{
    text-align: center;
}

/* quando a janela estiver menor q 999px, vai ativar essas mudanças, vai spawnar o menu hamburger (q estava invisivel e inacessivel), tbm vai fazer algumas coisas de responsividade   */ 

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    body.ativado {
        overflow: hidden;
    }
    #hamburger {
        display: block;
        pointer-events: all;
    }
    ul#nav-list {
        position: absolute;
        bottom: 0vh;
        left: 0vw;
        height: 90vh;
        width: 100vw;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--cor03);
        transform: translateX(100%);
        transition: 0.5s;
    }
    ul#nav-list.ativado {
        transform: translateX(0%);
        transition: 0.5s;
    }
    ul li a:hover {
        color: var(--cor00);
        transition: 0.3s;
        text-decoration: none;
    }
    #barra1.ativado {
        transform: translateY(13px) rotateZ(45deg);
        transition: 0.3s;
    }
    #barra2.ativado {
        opacity: 0;
        transition: 0.3s;
    }
    #barra3.ativado {
        transform: translateY(-13px) rotateZ(-45deg);
        transition: 0.3s;
    }
    div#container {
        display: block;
    }
    main {
        width: 95%;
        padding: 10px;
        border-right: 0px solid #fff;
    }
    main h1 {
        font-size: 1.7em;
    }
    main img {
        float: none;
        width: 100%;
    }
    aside {
        width: 95vw;
        border-top: 1px solid black;
    }
}