:root {
    --cor00: #fff;
    --cor01: black;
    --cor02: rgb(70, 19, 80);
    --cor03: rgb(125, 26, 144);
    --cor04: rgb(80, 80, 80);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    height: 20%;
    text-transform: uppercase;
}

header p {
    margin: 10px 20px;
    font: var();
}

nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 2vw;
    height: 10vh;
    user-select: none;
}

nav h1 {
    display: flex;
    font-size: 2.3em;
    justify-content: center;
    align-items: center;
    color: var(--cor02);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav ul li {
    list-style: none;
    font-size: 1.5em;
}

nav ul li a {
    color: black;
}

a:hover {
    text-decoration: underline var(--cor02);
    transition: 0.3s;
}

#hamburger {
    display: none;
    padding-block: 10px;
    cursor: pointer;
    pointer-events: none;
}

#hamburger div {
    background-color: var(--cor02);
    width: 32px;
    height: 4px;
    margin: 9px;
    justify-content: space-between;
    border-radius: 10px;
}

div#container {
    display: flex;
}

main {
    width: 80%;
    padding: 20px;
    word-wrap: break-word;
    border-right: 2px solid grey;
}

div#container h1, a{
    color: var(--cor02);
    text-transform: uppercase;
}

div#subtitulo {
    color: var(--cor04);
}

main img {
    width: 55%;
    float: left;
    margin-inline-end: 20px;
    margin-block-end: 20px;
}

main p {
    font-size: 1.4em;
    text-indent: 30px;
    margin-bottom: 5px;
    word-wrap: break-word;
    text-align: justify;
}

aside {
    width: 30%;
    padding: 30px;
    align-items: center;
}

aside img {
    width: 100%;
}

aside div#noticias {
    width: 30%;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    #hamburger {
        display: block;
        pointer-events: all;
    }
    ul#nav-list {
        position: absolute;
        bottom: 0vh;
        left: 0vw;
        height: 90vh;
        width: 100vw;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--cor03);
        transform: translateX(100%);
        transition: 0.5s;
    }
    ul#nav-list.ativado {
        transform: translateX(0%);
        transition: 0.5s;
    }
    ul li a:hover {
        color: var(--cor00);
        transition: 0.3s;
    }
    #barra1.ativado {
        transform: translateY(13px) rotateZ(45deg);
        transition: 0.3s;
    }
    #barra2.ativado {
        opacity: 0;
        transition: 0.3s;
    }
    #barra3.ativado {
        transform: translateY(-13px) rotateZ(-45deg);
        transition: 0.3s;
    }
}